# not uploading .DS_Store files
**/.DS_Store

# not uploading python cache
**/__pycache__

# not uploading npz files
**/*.npz

# not uploading environment downloads
src/env

# not uploading Pipfile and Pipfile.lock, using requirements.txt
src/Pipfile
src/Pipfile.lock

# not uploading images
# exam images are images for testing
src/face-verification/exam/*
# dataset images are images for training
src/face-verification/dataset/*
