# not uploading .DS_Store files
**/.DS_Store

# not uploading python cache
**/__pycache__

# not uploading npz files
**/*.npz

# not uploading environment downloads
src/env

# not uploading Pipfile and Pipfile.lock, using requirements.txt
src/Pipfile
src/Pipfile.lock

# not uploading images
# exam images are images for testing
src/iot_system/face_verification/exam/*
# dataset images are images for training
src/iot_system/face_verification/dataset/*
# not uploading test images
src/iot_system/camera_detection/camera_images
