<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>525804103301-6efa7m96dbp3smqvljlqc0rbfsd5ui5q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525804103301-6efa7m96dbp3smqvljlqc0rbfsd5ui5q</string>
	<key>API_KEY</key>
	<string>AIzaSyDJDSWRLobDjFccgm1_eQHsi-jEGOx_13Y</string>
	<key>GCM_SENDER_ID</key>
	<string>525804103301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.elsys.mobile</string>
	<key>PROJECT_ID</key>
	<string>iot-home-system-7dab8</string>
	<key>STORAGE_BUCKET</key>
	<string>iot-home-system-7dab8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525804103301:ios:1c352877ee0074deb76bec</string>
</dict>
</plist>