cached-property==1.5.2
h5py==3.1.0
Keras==2.4.3
Keras-Applications==1.0.8
keras-vggface==0.6
mtcnn==0.1.0
numpy==1.20.1
opencv-python==4.5.1.48
paho-mqtt==1.5.1
pathlib==1.0.1
Pillow==8.1.0
PyYAML==5.4.1
scipy==1.6.0
six==1.15.0
